---
// Footer.astro 
import { Icon } from "astro-icon/components";

---

<footer class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-300 py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- About -->
      <div>
        <h3 class="text-lg font-semibold mb-4 text-gray-900 dark:text-gray-200">Silvera David</h3>
        <p class="text-gray-600 dark:text-gray-500">Data Scientist & AI Developer building solutions for real-world problems.</p>
      </div>


    </div>

    <!-- Social Links -->
    <div class="mt-8 pt-8 border-t border-gray-200 dark:border-gray-700">
      <div class="flex justify-between items-center">
        <div class="flex space-x-6">
          <a href="https://github.com/DavidSilveraGabriel" class="text-gray-600 hover:text-gray-900 dark:hover:text-gray-100">
            <Icon name="mdi:github" class="w-6 h-6" />
          </a>
          <a href="https://twitter.com/David_Silvera21" class="text-gray-600 hover:text-gray-900 dark:hover:text-gray-100">
            <Icon name="mdi:twitter" class="w-6 h-6" />
          </a>
          <a href="https://www.linkedin.com/in/davidsilveragabriel/" class="text-gray-600 hover:text-gray-900 dark:hover:text-gray-100">
            <Icon name="mdi:linkedin" class="w-6 h-6" />
          </a>
          <a href="https://www.youtube.com/@SilveraDavid" class="text-gray-600 hover:text-gray-900 dark:hover:text-gray-100">
            <Icon name="mdi:youtube" class="w-6 h-6" />
          </a>
          <a href="https://www.instagram.com/davidsilverag/" class="text-gray-600 hover:text-gray-900 dark:hover:text-gray-100">
            <Icon name="mdi:instagram" class="w-6 h-6" />
          </a>
        </div>
        
        <p class="text-gray-600 dark:text-gray-500 text-sm">
          &copy; {new Date().getFullYear()} Silvera David. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>