---
import Base from '../components/layout/Base.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import ProjectsGrid from '../components/sections/ProjectsGrid.astro';
import ServicesSection from '../components/sections/ServicesSection.astro';
import Testimonios from '../components/sections/Testimonies.astro';
import BlogSection from '../components/sections/BlogSection.astro';

//import ChatbotInterface from '../components/ui/ChatbotInterface.astro'

import ChatUi from '@/components/chat/ChatUi.astro';

const pageTitle = "David Silvera - Data Scientist & AI Developer";

const identity = {
  Name: "David Gabriel Silvera",
  occupation: "Data Scientist",
  country: "Argentina",
  hobbies: ["Train", "Play guitar", "Learn"],
  skills: ['Python', 'Data Science', 'Machine Learning', 'Deep Learning', 'LLMs', 'GenAI','NLP', 'CV'],
};

// Obtener los posts destacados
//const allPosts = await getCollection("blog");
//const featuredPosts = allPosts.filter(post => post.data.featured === true);

// Importar los proyectos desde un archivo JSON
import projects from '../data/projects.json';

---

<Base title={pageTitle} showProjectForm={true}>
  <div class="text-center sm:text-center">
     <!-- Sección de principal de introduccion -->
    <div class="flex">
      <HeroSection identity={identity}/>
    </div>
     <!-- Sección de servicios -->
    <ServicesSection />
    <!-- Sección de testimonios -->
    <Testimonios />
    <!-- Sección de proyectos -->
    <ProjectsGrid projects={projects} layout="grid" />
    <!-- Sección de Posts Destacados -->
    <BlogSection />
    <!-- Sección de chatbot -->
    <ChatUi /> 
    <!--Sección de elevenlabs -->
    <!--<elevenlabs-convai agent-id="7NTtm6YZ0GTe9QD7FPud"></elevenlabs-convai><script src="https://elevenlabs.io/convai-widget/index.js" async type="text/javascript"></script>-->
  </div>
</Base>

