---
interface Props {
  date: Date | string; // Permitir Date o string como tipo
}

const { date } = Astro.props;
let parsedDate: Date | null = null;

if (date instanceof Date) {
  parsedDate = date;
} else if (typeof date === 'string') {
  try {
    parsedDate = new Date(date);
  } catch (e) {
    console.error("Error al parsear la fecha:", date, e);
  }
}
---

{
  parsedDate ? (
    <time datetime={parsedDate.toISOString()}>
      {parsedDate.toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })}
    </time>
  ) : (
    <span>Fecha no válida</span>
  )
}